.container{
  display:flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
 height:100vh; 
}
.calculator .input{
  width: 316.5px;
  height: 70px;
  background-color:rgba(128, 128, 128, 0.422);
  border:none;
  color:black;
  font-size: 40px;
  align-items: end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
h1{
  color:blue
}